@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "corporate";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(93% 0 0);
  --color-base-300: oklch(86% 0 0);
  --color-base-content: oklch(22.389% 0.031 278.072);
  --color-primary: oklch(90% 0.105 250.128);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(0.5059 0.0785 261.19);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(71% 0.143 215.221);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(37% 0.044 257.287);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(44% 0.11 240.79);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(43% 0.095 166.913);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(47% 0.114 61.907);
  --color-warning-content: oklch(92% 0.013 255.508);
  --color-error: oklch(44% 0.177 26.899);
  --color-error-content: oklch(92% 0.006 264.531);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.28125rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}



@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@theme{
--text-h1: clamp(2rem, 4vw, 3rem);
--text-h2: clamp(1.75rem, 3.5vw, 2.5rem);
--text-h3: clamp(1.5rem, 3vw, 2rem);
--text-h4: clamp(1.25rem, 2.5vw, 1.75rem);
--text-h5: clamp(1.125rem, 2vw, 1.5rem);
--text-h6: clamp(1rem, 1.75vw, 1.25rem);
--text-subtitle: clamp(0.875rem, 1.5vw, 1.125rem);
--text-body: clamp(0.875rem, 1.25vw, 1rem);
--text-small: clamp(0.75rem, 1vw, 0.875rem);
--text-caption: clamp(0.625rem, 0.9vw, 0.75rem);
--text-tiny: clamp(0.5rem, 0.8vw, 0.625rem);


  --font-montserrat : "Montserrat", sans-serif; 
  --font-quicksand : "Quicksand", sans-serif;
}

html {
  font-family: "Quicksand", sans-serif;
}

.waves {
  position: relative;
}

.parallax > use {
  animation: move-waves 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-waves {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

